BasedOnStyle: Microsoft

AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse

BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeColon

ColumnLimit: 120

EmptyLineAfterAccessModifier: Always
EmptyLineBeforeAccessModifier: LogicalBlock

PackConstructorInitializers: Never
PointerAlignment: Left